<!DOCTYPE html>
<html lang="en" color-theme="light">

<head>

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>TransBridge</title>
        <!-- <link rel="stylesheet" href="transbridgecss/transbridge.css"> -->
        <link rel="stylesheet" href="/css/transbridge.css">
        <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/web3/4.1.2/web3.min.js"></script>
        <script src="/js/main.js"></script>
        <script src="/js/common/global.js"></script>
        <script src="/js/bridge.js"></script>
        <script src="/js/common/nft.js"></script>
        <script src="/js/common/metamask.js"></script>
    </head>
</head>

<body class="d-flex flex-column min-vh-100">
    <div class="wrap">
        <header>

            <div class="size-desktop">

                <div class="header-left" onclick="location.href='/'">
                    <div class="logo"></div>
                    <span>TransBridge</span>
                </div>

                <ul class="header-menu">
                    <li class="token-menu">
                        <a href="/">
                            <span>Bridge</span>
                        </a>
                    </li>
                    <li class="nft-menu header-menu-ckd">
                        <a href="/nft">
                            <span>NFT Bridge</span>
                        </a>
                    </li>

                </ul>
                <div style="display: flex">
                    <button class="connect-wallet-bt" onclick="connectWallet()">
                        CONNECT WALLET
                    </button>
                    <!-- display: flex -->
                    <div class="wallet-item" style="display: none;">
                        <div>
                            <p class="connected_balance"></p>
                        </div>

                        <div class="wallet-adress">
                            <button class="mainnet-change-bt connected_account" onclick="layerOpen('wallet')">

                            </button>
                        </div>
                    </div>

                    <button class="b2b-link-bt" onclick="window.open('https://github.com/companyAbcDev/transbridge', '_blank')">Github</button>
                </div>


            </div>
        </header>

        <main class="bridge-main">
            <div class="main-bg"></div>

            <div class="bridge size-desktop">
                <!-- LEFT -->
                <div>
                    <div class="bridge-hd">
                        <h1>NFT Bridge</h1>
                        <p>
                            체인을 통해 자산을 보내보세요.
                        </p>
                    </div>

                    <div class="bridge-form">
                        <div class="mainnet-select" value="mainnet-from">

                            <p>From...</p>

                            <ul class="mainnet-select-list">
                                <li class="fromNetworkChange" data-network="goerli"
                                    data-image="/img/ethereum.png">
                                    <label>
                                        <input type="radio" name="mainnet-change" value="0x5">
                                        <div>
                                            <div>
                                                <i class="token-icon"><img src="/img/ethereum.png"></i>
                                                Goerli
                                            </div>

                                        </div>
                                    </label>
                                </li>
                                <li class="fromNetworkChange" data-network="baobab"
                                    data-image="/img/klaytn.png">
                                    <label>
                                        <input type="radio" name="mainnet-change" value="0x3e9">
                                        <div>
                                            <div>
                                                <i class="token-icon"><img src="/img/klaytn.png"></i>
                                                Baobab
                                            </div>
                                        </div>
                                    </label>
                                </li>
                                <li class="fromNetworkChange" data-network="mumbai"
                                    data-image="/img/polygon.png">
                                    <label>
                                        <input type="radio" name="mainnet-change" value="0x13881">
                                        <div>
                                            <div>
                                                <i class="token-icon"><img src="/img/polygon.png"></i>
                                                Mumbai
                                            </div>
                                        </div>
                                    </label>
                                </li>
                                <li class="fromNetworkChange" data-network="tbnb" data-image="/img/binance.png">
                                    <label>
                                        <input type="radio" name="mainnet-change" value="0x61">
                                        <div>
                                            <div>
                                                <i class="token-icon"><img src="/img/binance.png"></i>
                                                BNB Testnet
                                            </div>
                                        </div>
                                    </label>
                                </li>

                            </ul>

                        </div>
                        <div class="mainnet-select" value="mainnet-to">

                            <p>To...</p>

                            <ul class="mainnet-select-list">
                                <li class="toNetworkChange" data-network="goerli"
                                    data-image="/img/ethereum.png">
                                    <label>
                                        <input type="radio" name="mainnet-list" value="goerli">
                                        <div>
                                            <div>
                                                <i class="token-icon"><img src="/img/ethereum.png"></i>
                                                Goerli
                                            </div>

                                        </div>
                                    </label>
                                </li>
                                <li class="toNetworkChange" data-network="baobab" data-image="/img/klaytn.png">
                                    <label>
                                        <input type="radio" name="mainnet-list" value="baobab">
                                        <div>
                                            <div>
                                                <i class="token-icon"><img src="/img/klaytn.png"></i>
                                                Baobab
                                            </div>
                                        </div>
                                    </label>
                                </li>
                                <li class="toNetworkChange" data-network="mumbai" data-image="/img/polygon.png">
                                    <label>
                                        <input type="radio" name="mainnet-list" value="mumbai">
                                        <div>
                                            <div>
                                                <i class="token-icon"><img src="/img/polygon.png"></i>
                                                Mumbai
                                            </div>
                                        </div>
                                    </label>
                                </li>
                                <li class="toNetworkChange" data-network="tbnb" data-image="/img/binance.png">
                                    <label>
                                        <input type="radio" name="mainnet-list" value="tbnb">
                                        <div>
                                            <div>
                                                <i class="token-icon"><img src="/img/binance.png"></i>
                                                BNB Testnet
                                            </div>
                                        </div>
                                    </label>
                                </li>

                            </ul>

                        </div>

                        <div class="bridge-nft-from">
                            <div class="mainnet-box" onclick="mainnetSelectOpen(event, 'mainnet-from')">
                                <i class="token-icon fromNetworkImage">
                                    <img src="/img/ethereum.png" alt="">
                                </i>
                                <div>
                                    <span>From</span>
                                    <p class="fromNetwork">Goerli</p>
                                </div>
                            </div>
                            <div class="to-adress noNftSelect">
                                Please Connect Wallet
                            </div>
                            <div class="select-nft" style="display:none;">
                                <div class="select-nft-img selectedImg">
                                    <img src="/img/nonft.png" alt="">
                                </div>

                                <div class="select-nft-info">
                                    <ul>
                                        <li>
                                            <span>Contract</span>
                                            <div class="selectedContract">

                                            </div>
                                        </li>
                                        <li>
                                            <span>Name</span>
                                            <div class="selectedName">

                                            </div>
                                        </li>
                                        <li>
                                            <span>Token ID</span>
                                            <div class="selectedTokenId">

                                            </div>
                                        </li>
                                        <li class="ercView" style="display: none">
                                            <span>Total Amount</span>
                                            <div class="selectedBalance">
                                            </div>
                                        </li>

                                        <li style="align-items: center;">
                                            <span>수량</span>
                                            <div>
                                                <input class="selectedAmount" type="number" placeholder="0" min="0">
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="bridge-nft-to">
                            <div class="mainnet-box" onClick="mainnetSelectOpen(event, 'mainnet-to')">
                                <i class="token-icon toNetworkImage">
                                    <img src="/img/ethereum.png" alt="">
                                </i>
                                <div>
                                    <span>To</span>
                                    <p class="toNetwork" style="display: none">goerli</p>
                                    <p class="toNetworkFront">Goerli</p>
                                </div>
                            </div>

                            <div class="to-adress bridgeToAddress">
                                Please Connect Wallet
                            </div>

                        </div>

                        <div class="bridge-total">
                            <ul>
                                <li>
                                    <span>Fees</span>
                                    <p class="baseFee"></p>
                                </li>
                                <li>
                                    <span>Deploy Fees</span>
                                    <div class="nftDeployFee">
                                        <h1> - </h1>
                                    </div>
                                </li>
                            </ul>
                            <div class="err-txt" style="display: none">
                                현재 잔액이 부족합니다.
                            </div>
                        </div>

                        <button class="bridge-nft-bt-disable">
                            Choose NFT
                        </button>
                        <button class="bridge-nft-bt bridgeNftAction" onclick="layerOpen('activity')"
                            style="display: none;">
                            Confirm Bridge
                        </button>
                    </div>

                </div>
                <!-- RIGHT -->
                <div>
                    <div class="bridge-tap">
                        <label>
                            <input type="radio" name="bridge-tap" checked>
                            <div>
                                Portfolio
                            </div>
                        </label>
                        <label onclick="historyView()">
                            <input type="radio" name="bridge-tap">
                            <div>
                                Activity
                            </div>
                        </label>
                    </div>

                    <div class="bridge-portfolio">
                        <div class="wallet-disconnect" style="display: none;">
                            <div>
                                <p>
                                    kthulu bridge는 확장가능하며 안전한 크로스체인 통신네트워크입니다. <br />
                                    브릿지로 거래를 제출할 준비가 되면 지갑을 연결하세요.
                                </p>

                                <button>
                                    지갑연결
                                </button>
                            </div>
                        </div>

                        <div class="bridge-active bridgeStatusChk" style="display: none">
                            <div>
                                <span class="bridge-active-end">
                                    TODAY
                                </span>

                                <div class="bridge-active-send">
                                    <div id="statusFromNetwork">
                                        <i class="token-icon"></i>
                                        Ethereum
                                    </div>
                                    <div id="statusFromAccount">
                                        0xE...901c
                                    </div>
                                </div>
                                <i></i>
                                <div class="bridge-active-to">
                                    <div id="statusToNetwork">
                                        <i class="token-icon"></i>
                                        Ethereum
                                    </div>
                                    <div id="statusToAccount">
                                        0xE...901c
                                    </div>
                                </div>
                            </div>
                            <div>
                                <p>
                                    You can check it in the activity tab after 5 minutes.
                                </p>
                            </div>
                        </div>
                        <!-- 연결이면 bridge-list-connect  클래스 추가 -->
                        <!-- connect-bt은 그냥 style로 color 초록 때려박기 -->
                        <div class="bridge-list goerli-connect">
                            <div class="bridge-list-mainnet">
                                <div>
                                    <i class="token-icon"><img src="/img/ethereum.png"></i>
                                    <span>Goerli</span>
                                </div>
                                <div>
                                    <label>
                                        <input type="radio" name="mainnet-change" value="0x5">
                                        <div class="connect-bt" id="goerli-connect-text">connect</div>
                                    </label>
                                    <div class="loader goerliLoader" style="display:none;"></div>
                                    <div class="down-icon goerliDown" onclick="nftListOpen(this)"><i></i></div>
                                </div>

                            </div>
                            <ul class="nft-box">
                                <li>
                                    <div class="token-nft">
                                        <!-- token-nft-simbol -->
                                        <div>
                                            Total <span class="nftTotal">9</span>
                                            <!-- <i class="token-icon"></i>
                                            <span>ETH</span> -->
                                        </div>
                                        <div>
                                            <!-- <i>5</i> -->
                                            <p class="nft-ckd-txt">Select</p>
                                        </div>
                                    </div>

                                    <div class="nft-box-inner nftEmptyList" style="display: none">
                                        <p>
                                            This Network does not have nft.
                                        </p>
                                    </div>
                                    <ul class="nft-box-inner goerli-list">

                                    </ul>
                                </li>

                            </ul>
                        </div>
                        <div class="bridge-list baobab-connect">
                            <div class="bridge-list-mainnet">
                                <div>
                                    <i class="token-icon"><img src="/img/klaytn.png"></i>
                                    <span>Baobab</span>
                                </div>
                                <div>
                                    <label>
                                        <input type="radio" name="mainnet-change" value="0x3e9">
                                        <div class="connect-bt" id="baobab-connect-text">connect</div>
                                    </label>
                                    <div class="loader baobabLoader" style="display:none;"></div>
                                    <div class="down-icon baobabDown" onclick="nftListOpen(this)"><i></i></div>
                                </div>

                            </div>
                            <ul class="nft-box">
                                <li>
                                    <div class="token-nft">
                                        <!-- token-nft-simbol -->
                                        <div>
                                            Total <span class="nftTotal">9</span>
                                            <!-- <i class="token-icon"></i>
                                            <span>ETH</span> -->
                                        </div>
                                        <div>
                                            <!-- <i>5</i> -->
                                            <p class="nft-ckd-txt">Select</p>
                                        </div>
                                    </div>
                                    <div class="nft-box-inner nftEmptyList">
                                        <p>
                                            This Network does not have nft.
                                        </p>
                                    </div>
                                    <ul class="nft-box-inner baobab-list">

                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div class="bridge-list mumbai-connect">
                            <div class="bridge-list-mainnet">
                                <div>
                                    <i class="token-icon"><img src="/img/polygon.png"></i>
                                    <span>Mumbai</span>
                                </div>
                                <div>
                                    <label>
                                        <input type="radio" name="mainnet-change" value="0x13881">
                                        <div class="connect-bt" id="mumbai-connect-text">connect</div>
                                    </label>
                                    <div class="loader mumbaiLoader" style="display:none;"></div>
                                    <div class="down-icon mumbaiDown" onclick="nftListOpen(this)"><i></i></div>
                                </div>
                            </div>
                            <ul class="nft-box">
                                <li>
                                    <div class="token-nft">
                                        <!-- token-nft-simbol -->
                                        <div>
                                            Total <span class="nftTotal">9</span>
                                            <!-- <i class="token-icon"></i>
                                            <span>ETH</span> -->
                                        </div>
                                        <div>
                                            <!-- <i>5</i> -->
                                            <p class="nft-ckd-txt">Select</p>
                                        </div>
                                    </div>
                                    <div class="nft-box-inner nftEmptyList">
                                        <p>
                                            This Network does not have nft.
                                        </p>
                                    </div>
                                    <ul class="nft-box-inner mumbai-list">

                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div class="bridge-list tbnb-connect">
                            <div class="bridge-list-mainnet">
                                <div>
                                    <i class="token-icon"><img src="/img/binance.png"></i>
                                    <span>BNB Testnet</span>
                                </div>
                                <div>
                                    <label>
                                        <input type="radio" name="mainnet-change" value="0x61">
                                        <div class="connect-bt" id="tbnb-connect-text">connect</div>
                                    </label>
                                    <div class="loader tbnbLoader" style="display:none;"></div>
                                    <div class="down-icon tbnbDown" onclick="nftListOpen(this)"><i></i></div>
                                </div>
                            </div>

                            <ul class="nft-box">
                                <li>
                                    <div class="token-nft">
                                        <!-- token-nft-simbol -->
                                        <div>
                                            Total <span class="nftTotal">9</span>
                                            <!-- <i class="token-icon"></i>
                                            <span>ETH</span> -->
                                        </div>
                                        <div>
                                            <!-- <i>5</i> -->
                                            <p class="nft-ckd-txt">Select</p>
                                        </div>
                                    </div>
                                    <div class="nft-box-inner nftEmptyList" style="display: none">
                                        <p>
                                            This Network does not have nft.
                                        </p>
                                    </div>
                                    <ul class="nft-box-inner tbnb-list">

                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="bridge-activity" style="display: none;">
                        <div class="wallet-disconnect" style="display: none;">
                            <div>
                                <p>
                                    30일 동안 발생한 내역이 없습니다.
                                </p>
                            </div>
                        </div>

                    </div>

                </div>

            </div>

        </main>

        <div class="layer layer-connect">
            <div class="layer-inner">
                <div class="close-icon" onclick="layerClose(this)"><i></i></div>

                <div class="connect">

                    <div class="connect-wallet-list">
                        <h1>Connect a Wallet</h1>

                        <div>
                            <p>Popular</p>
                            <ul>
                                <li>
                                    <i>
                                        <img src="/img/main_bluelogo.png" alt="">
                                    </i>
                                    <div>
                                        <h2>Kthulu</h2>
                                    </div>
                                </li>
                                <li>
                                    <i style="background: #fff;">
                                        <img src="/img/metamask.png" alt="">
                                    </i>
                                    <div>
                                        <h2>Metamask</h2>
                                    </div>
                                </li>
                                <li>
                                    <i>
                                        <img src="/img/coinbase.png" alt="">
                                    </i>
                                    <div>
                                        <h2>Coinbase Wallet</h2>
                                    </div>
                                </li>
                                <li>
                                    <i>
                                        <img src="/img/connect.png" alt="">
                                    </i>
                                    <div>
                                        <h2>WalletConnect</h2>
                                    </div>
                                </li>
                            </ul>
                        </div>

                        <div>
                            <p>Other</p>
                            <ul>
                                <li>
                                    <i>
                                        <img src="/img/kaikas.png" alt="">
                                    </i>
                                    <div>
                                        <h2>KaiKas</h2>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>


                    <div class="connect-inner">
                        <!-- 지갑 있을 때 -->
                        <div class="connect-wallet" style="display: none;">
                            <div>
                                <div class="opening-wallet">
                                    <i>
                                        <img src="/img/metamask.png" alt="">
                                    </i>
                                    <h2>Connect MetaMask</h2>
                                    <p>
                                        서비스 이용을 위하여 지갑을 연결해주세요.
                                    </p>


                                    <button class="connectMetamask" onclick="connectMetamask()">Connect Wallet</button>

                                    <!-- display: inline-block 해주기  -->
                                    <div class="loader" style="display:none;"></div>
                                </div>
                            </div>
                        </div>
                        <!-- 지갑 없을 때 -->
                        <div class="connect-chrome">
                            <h1>Get Metamask Wallet</h1>

                            <div>
                                <div class="chrome-item">
                                    <i>
                                        <img src="/img/chrome.png" alt="">
                                    </i>
                                    <div>
                                        <h2>Rabby Wallet for Chrome</h2>
                                        <p>
                                            Access your wallet right from <br />
                                            your favorite web browser.
                                        </p>
                                        <button
                                            onclick="location.href='https://chrome.google.com/webstore/detail/metamask/nkbihfbeogaeaoehlefnkodbefgpgknn?utm_source=ext_sidebar&hl=ko'">
                                            Add to Chrome
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>

            </div>
        </div>

        <div class="layer layer-activity">
            <div class="layer-inner">
                <h1>
                    Follow steps
                </h1>

                <div class="layer-activity-step">
                    <div>
                        <i>
                            <div class="loader approveLoading"></div>
                            <img class="approveChk" src="/img/act-ckd.png" alt="" style="display: none;">
                        </i>
                        <div>
                            <h2>Approve</h2>
                            <p>This transaction is conducted only
                                once per collection</p>
                        </div>
                    </div>
                    <div>
                        <i>
                            <div class="loader nftBridgeLoading" style="display: none"></div>
                            <img class="nftBridgeChk" src="/img/act-ckd.png" alt="" style="opacity: 0.3;">
                        </i>
                        <div>
                            <h2>Bridge</h2>
                            <p>Please sign the bridge request</p>
                        </div>
                    </div>
                </div>

                <button>
                    Check Wallet
                </button>
            </div>
        </div>

        <div class="layer layer-wallet">
            <div class="layer-inner">

                <div class="wallet-now">
                    <i class="wallet-icon">
                        <img src="/img/metamask.png" alt="">
                    </i>
                    <div>
                        <!-- 복사 작동하는 거안에 toast넣기 -->
                        <button class="wallet-copy" onclick="toastAlert()">
                            <span id="popupAccount"></span>
                            <i></i>
                        </button>
                        <button><span id="popupBalance"></span></button>
                    </div>
                </div>
                <div class="close-icon" onclick="layerClose(this)"><i></i></div>

                <div class="wallet-opt-bt">
                    <button onclick="changeAccount()">
                        <i></i>
                        <div>Change account</div>
                    </button>
                    <button onclick="disconnectMetamask()">
                        <i></i>
                        <div>Disconnect</div>
                    </button>
                </div>

            </div>
            <div class="toast_alert">
                <i></i> <span>복사완료</span>
            </div>

        </div>

    </div>

</body>

</html>