<!DOCTYPE html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>TransBridge</title>
        <!-- <link rel="stylesheet" href="transbridgecss/transbridge.css"> -->
        <link rel="stylesheet" href="/css/transbridge.css">
        <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/web3/4.1.2/web3.min.js"></script>
        <script src="/js/main.js"></script>
        <script src="/js/common/global.js"></script>
        <script src="/js/bridge.js"></script>
        <script src="/js/common/metamask.js"></script>
        <% if (pageName === 'index') { %>
            <script src="/js/common/token.js"></script>
        <% } else if (pageName === 'nft') { %>
            <script src="/js/common/nft.js"></script>
        <% } %>
    </head>
</html>