
<div class="size-desktop">

        <div class="header-left" onclick="location.href='/'">
            <div class="logo"></div>
            <span>TransBridge</span>
        </div>

        <ul class="header-menu">
            <li class="token-menu">
                <a href="/">
                    <span>Bridge</span>
                </a>
            </li>
            <li class="nft-menu">
                <a href="/nft">
                    <span>NFT Bridge</span>
                </a>
            </li>
            <li>
                <a href="https://docs.transbridge.io/" target="_blank">
                    <span>docs</span>
                </a>
            </li>


        </ul>
        <div style="display: flex">
            <button class="connect-wallet-bt" onclick="connectWallet()">
                CONNECT WALLET
            </button>
            <!-- display: flex -->
            <div class="wallet-item" style="display: none;">
                <div>
                    <p class="connected_balance"></p>
                </div>

                <div class="wallet-adress">
                    <button class="mainnet-change-bt connected_account" onclick="layerOpen('wallet')">

                    </button>
                </div>
            </div>

            <button class="b2b-link-bt" onclick="location.href='/b2b'">B2B</button>
        </div>


        <div class="min-tap">
            <i class="min-tap-icon" onclick="minMenuCom()"></i>

            <div class="min-tap-pan">

                <ul class="min-tap-menu">
                    <li>
                        <a href="/">
                            <span>Bridge</span>
                        </a>
                    </li>
                    <li>
                        <a href="/nft">
                            <span>NFT Bridge</span>
                        </a>
                    </li>
                    <li>
                        <a href="https://docs.transbridge.io/" target="_blank">
                            <span>docs</span>
                        </a>
                    </li>
                    <li>
                        <a href="https://transbridge.io/b2b" target="_blank">
                            <span>B2B</span>
                        </a>
                    </li>
                </ul>

            </div>
        </div>
    </div>